/* footer {
  padding: 2rem;
  background-color: var(--light-color);
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
} */

footer {
  text-align: center;
  padding: 100px 0;
  background-color: #fff;
  position: relative;
  color: #000000;
  font-size: 16px;
}

.footer.block{
  width: 1270px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.footer-block > div:first-child{margin: 10px 0;}

.footer-block > div:last-child{
  position: absolute;
  right: 15px;
  top: 0;}
 
.footer-block > div:nth-last-child(2) ul li a{
  background: url('/icons/sprite.png') no-repeat -475px 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  }

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

footer li {
  margin: 0 15px;
}
footer li a {
  color: #000000 !important;
}


.footer-block : nth-child(4){
  position: absolute;
  right: 15px;
  top: 0;
}
